@use '../../components/buttons' as button;
@use '../../utilities/responsive';

.news {
    display: grid;
    grid-template-columns: var(--grid-container);
    
    &__inner {
        margin: 2rem;
        grid-column: inner;
        
    }
    
    &__title {
        margin: 0 0 2rem 0;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gap-m);

        @include responsive.max(850px) {
            // grid-template-columns: 1;
            display: block;
        }
    }


    &__card-big {
        grid-row: span 2;
        grid-column: span 2;
        width: 100%;
        padding-right: 4rem;

        .news__title {
            font-size: clamp(2rem, 0.8571rem + 6.8571vw, 5rem);
        }

        @include responsive.max(850px) {
            padding: 0;
            // grid-template-columns: 1fr;
            // grid-row: 1;
            // grid-column: 1;
            // padding: 0;
        }

    }

    &__card-small {
        grid-column: 3;
        padding: var(--gap-s);
        
        .news__title {
            margin-bottom: var(--gap-s);
            font-size: var(--font-size-4);
        }

        
    }
    
    // &__card-2 {
    //     @include responsive.max(1024px) {
    //         grid-template-columns: 1fr;

    //     }
        
    // }

    &__button {
        margin: 6px;
        
        @include button.default;

        &--white {
            background-color: var(--color-light);
            color: var(--color-dark);
            // transition: font-size 0.2s;
            
            &:hover {
                background-color: var(--color-light);
                color: var(--color-dark);
                // font-size: var(--font-size-2);
            }
        }

        @include responsive.max(800px) {
            padding: 0.5rem 1rem;
        }

    }


}