@use '../../components/buttons' as button;
@use '../../components/details';

.opening-hours {
    
    &__inner {
        margin: 4rem;
        display: grid;
        
    }

    // Header
    &__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    &__info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    &__title {
        
    }

    &__week {
        padding-top: 5px;
        padding-left: var(--gap-s);
        color: var(--color-accent-800);
        
    }
    
    &__button-red {
        @include button.default;
        font-size: var(--font-size-3);   
    }

    // Main

    &__main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--gap-s);
        
    }

    &__card {
        padding: 0 2rem;
    }

    &__card-title {
        padding-left: 1rem;

    }
    
    &__list {
        list-style: none;
        padding-left: 1rem;
        max-width: 100%;
        width: 100%;
        padding: 0;
        
    }
    
    &__list-item {
        display: flex;
        justify-content: space-between;     
        line-height: 2;
    }

    span {
        // background-color: var(--color-dark-300);
        font-weight: 600;
    }


    &__card-reception {
        background-color: var(--color-dark);
        @include details.triangle($background-color: var(--color-dark-300), $position: top);
          
        color: var(--color-light);

        .opening-hours__list {
            :nth-child(odd) {
                background-color: var(--color-dark-200);
            }
        }

        .opening-hours__list-item--current {
            color: var(--color-accent);
        }

        .opening-hours__card-title-reception {
            color: var(--color-light);
        }

        p {
            color: var(--color-light-500);
            font-size: 10px;
            
        }
    }

    &__card-bastu,
    &__card-keycard {
        color: var(--color-dark);

        .opening-hours__list-item--current {
            color: var(--color-accent-800);
        }

        .opening-hours__list {
            :nth-child(odd) {
                background-color: var(--color-dark-700);
            }
        }
    }

}



    

   