@use '../../components/details';

.promo {
    display: grid;
    grid-template-columns: var(--grid-container);

    &__inner {
        background: url(assets/images/promo@2x.jpg);
        background-size: cover;
        // transition: 0.3s ease-out;
        // opacity: 0.7;
        margin: 2rem;
        padding: 3rem;
        position: relative;
        grid-column: inner;
        
        
        @include details.triangle($background-color: var(--color-accent-800));
        
        // Vart ska denna vara för att backgrunden ska zoomas in?
        &:hover {
            transition: transform 0.3s ease-out ;
        }
        
    }
    
    
    &__arrow {
        position: absolute;
        transform: rotate(270deg);
        right: 10px;
        bottom: 5px;
        z-index: 80;
        
    }
    
    &__main {
        
    }
    
    &__title {
        // position: absolute;
        color: var(--color-light);
        font-size: clamp(2rem, -0.5rem + 8vw, 5rem);
        // font-size: clamp(2rem, 0.8571rem + 6.8571vw, 5rem);
        margin: 0;
        
    }
    
    &__subtitle {
        // position: absolute;
        color: var(--color-light-200);
        margin: 0;
        font-size: clamp(0.5rem, -0.5rem + 8vw, 2rem);
        
    }
}