@use '../../components/details';
@use '../../utilities/responsive';

.promo-cards { 
    // width: 100%;
    display: grid;
    grid-template-columns: var(--grid-container);   
    
    &__inner {
        margin: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--gap-m);
        grid-column: inner;

        // @include responsive.max(1024px) {
        //     display: flex;
        //     flex-wrap: wrap;

        // }

        @include responsive.max(850px) {
            grid-template-columns: 1fr;
                       
        }
        
        
    }
    
    &__card { 
        padding-bottom: 2rem;
        transform: scale(1);
        transition: all 0.3s;
        
        &:hover {
            transform: scale(1.1);
        }


    }
    
    &__subtitle {
        margin: 2rem 0 0 2.5rem;
        font-weight: 400;

        @include responsive.max(1024px) {
            font-size: var(--font-size-2);
        }
    }
    
    &__heading {
        margin: 0 0 0 2.5rem;
        font-weight: 400;

        @include responsive.max(1024px) {
            font-size: var(--font-size-5);
        }
    }
    
    &--one {
        background-color: var(--color-dark);
        @include details.triangle($background-color: var(--color-accent-800));
        
        .promo-cards__subtitle {
            color: var(--color-light-500);
        }

        .promo-cards__heading {
            color: var(--color-light);
        }

        .promo-cards__small {
            color: var(--color-light-500);
            margin: 0 0 0 2.5rem;
            font-size: 9px;

            @include responsive.max(1024px) {
                font-size: 7px;
            }
        }

        .promo-cards__arrow {
            position: absolute;
            transform: rotate(270deg);
            right: 10px;
            bottom: 5px;
            z-index: 70;
            transition: all 0.5s;
            

        }
        
    }
    
    &--two {
        background-color: var(--color-dark-700);
        @include details.triangle();
        
        .promo-cards__subtitle {
            color: var(--color-dark);          
        }

        .promo-cards__heading {
            color: var(--color-accent);
        }

        .promo-cards__arrow {
            position: absolute;
            transform: rotate(270deg);
            right: 10px;
            bottom: 5px;
            z-index: 80;

        }
    }

    &--three {
        background-color: var(--color-dark-700);
        @include details.triangle();

        .promo-cards__subtitle {
            color: var(--color-light-500);
        }

        .promo-cards__heading {
            color: var(--color-dark);
        }

        .promo-cards__arrow {
            position: absolute;
            transform: rotate(270deg);
            right: 10px;
            bottom: 5px;
            z-index: 90;

        }
    }

}