@use '../components/buttons' as button;
@use '../utilities/responsive';

.menu {
    display: flex;
    justify-content: flex-end;
    gap: var(--gap-m);

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        gap: var(--gap-m);
        
        @include responsive.max(800px) {
            display: none;
        }
    }

    &__link {
        color: var(--color-light);
        font-family: var(--font-serif);
        font-weight: 400;
        font-size: var(--font-size-2);
        transition: all 0.5s;
    }    
    
           
}

.sidebar {
    display: grid;
    max-width: 300px;
    width: 100%;
    background-color: var(--color-dark);
    color: var(--color-light);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;    
    transform: translateX(100%);
    transition: all 0.3s;
    
    &--open {
        display: grid;
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center; //Ta bort?
    }

    &__list {
        list-style: none;
        margin: 0;       
    }

    &__item {
        padding: 1rem 0;
    }
}


